body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

form {
  background: white;
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
  border-radius: 8px;
}

input, textarea, button {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

button {
  background: #19add2;
  color: white;
  border: none;
  cursor: pointer;
}

.complaint-card {
  background: white;
  padding: 15px;
  margin: 15px auto;
  max-width: 600px;
  border-radius: 8px;
}

.navbar {
  background: #1976d2;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}
